{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_crm.title'|trans }} - {{ parent() }}{% endblock %}
{% block head_description %}{{ 'page_crm.description'|trans }}{% endblock %}
{% block head_keywords %}{{ 'page_crm.tags'|trans }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}


{% block body %}
    <div class="d-flex align-items-center section-main">
        <div class="back-gradient"></div>
        <div class="container title">
            <h1>{{ 'page_crm.section_main.title_header'|trans }}</h1>
            <p class="description">{{ 'page_crm.section_main.title_desc'|trans }}</p>
        </div>
    </div>

    <div class="section section-right-image">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pr-md-3 pr-lg-5">
                    <div class="badge badge-app mb-4 pl-0">CRM</div>
                    <h2 class="mb-5">{{ 'page_crm.section_customer.title'|trans|raw }}</h2>
                    <div class="description">
                        <ul class="icon-list">
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_customer.item1'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_customer.item2'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_customer.item3'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 card-img">
                    <span>{{ source('@assets/static/element/real-time.svg') }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-color section-right-image">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 card-img">
                    <span class="float-md-right">{{ source('@assets/static/element/document.svg') }}</span>
                </div>
                <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0 pl-md-3 pl-lg-5">
                    <div class="badge badge-app mb-4 pl-0">CRM</div>
                    <h2 class="mb-5">{{ 'page_crm.section_legal.title'|trans|raw }}</h2>
                    <div class="description mb-0">
                        {{ 'page_crm.section_legal.item1'|trans }}
                        <ul class="icon-list mt-4">
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_legal.item2'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_legal.item3'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_legal.item4'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-right-image">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pr-md-3 pr-lg-5">
                    <div class="badge badge-app mb-4 pl-0">{{ 'page_crm.section_market.header'|trans }}</div>
                    <h2 class="mb-5">{{ 'page_crm.section_market.title'|trans|raw }}</h2>
                    <div class="description">
                        <ul class="icon-list">
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_market.item1'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_market.item2'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_crm.section_market.item3'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 card-img">
                    <span>{{ source('@assets/static/element/marketing.svg') }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section pt-3">
        <div class="container">
            <div class="bg-light p-4 p-sm-5 text-center text-md-left rounded d-md-flex align-items-center">
                <div class="mb-4 mb-md-0">
                    <h2 class="mb-2">{{ 'footer.are_you_ready'|trans }}</h2>
                    <h6 class="mb-0">{{ 'footer.are_you_ready_desc'|trans }}</h6>
                </div>
                <a class="btn btn-lg btn-primary ml-auto" href="{{ path('app_register') }}">{{ 'footer.create_account'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
