{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_faq.title'|trans }} - {{ parent() }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center section-main section-image">
        <div class="back-gradient"></div>
        <div class="container main-image"><span>{{ source('@assets/static/element/question.svg') }}</span></div>

        <div class="container title">
            <h1>{{ 'page_faq.section_main.title'|trans }}</h1>
            <div class="row search-block">
                <form action="#" class="col-sm-8 header-form">
                    <input class="form-control" type="text" name="search" id="search" placeholder="{{ 'page_faq.section_main.question_search'|trans }}">
                    <div id="passwordHelpBlock" class="form-text fs--5 mt-3">{{ 'page_faq.popular_search'|trans }}
                        <a href="{{ path('resource_faq', {'search':'nameserver'}) }}">Nameserver</a>,
                        <a href="{{ path('resource_faq', {'search':'dns'}) }}">DNS</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="section section-faq">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <navbar class="nav-responsive">
                        <a class="toggle"><i class="fas fa-bars"></i></a>
                        <nav id="faqlist" class="nav nav-pills flex-column sticky-top sticky-top-6 dark-link">
                            {% for faq in faqs %}
                                <a class="nav-link" href="#block{{ faq[0].category.id }}">{{ faq[0].category.name }}</a>
                            {% endfor %}
                        </nav>
                    </navbar>
                </div>

                <div class="col-md-9">
                    <div data-spy="scroll" data-target="#faqlist" data-offset="0">
                        {% for faq in faqs %}
                            <div class="block">
                                <h2 id="block{{ faq[0].category.id }}" class="mb-4">{{ faq[0].category.name }}</h2>
                                <ul class="list-unstyled question-list">
                                    {% for question in faq %}
                                        <li>
                                            <h6 class="question fs-1">{{ question.title }}</h6>
                                            <p class="faq-desc">{{ question.content|raw }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      /**
       * Scrollspy
       */
      $('body').scrollspy({target: '#faqlist'})
    </script>
{% endblock %}
