{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_legal.title'|trans }} - {{ parent() }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center section-main section-image">
        <div class="back-gradient"></div>
        <div class="container main-image"><span>{{ source('@assets/static/element/gpdr.svg') }}</span></div>
        <div class="container title">
            <h1>{{ 'page_legal.section_main.title_header'|trans }}</h1>
        </div>
        <div class="container nav-menus">
            <ul class="nav-pages">
                <li><a data-toggle="collapse" aria-expanded="true" href="#termsofService">{{ 'page_legal.menus.termsofservice'|trans }}</a></li>
                <li><a data-toggle="collapse" href="#privacyPolicy">{{ 'page_legal.menus.privacypolicy'|trans }}</a></li>
                <li><a data-toggle="collapse" href="#usePolicy">{{ 'page_legal.menus.usepolicy'|trans }}</a></li>
                <li><a data-toggle="collapse" href="#gpdr">{{ 'page_legal.menus.gpdrpolicy'|trans }}</a></li>
                <li><a data-toggle="collapse" href="#cookiePolicy">{{ 'page_legal.menus.cookiepolicy'|trans }}</a></li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div id="legal-accordion">
                {# Terms Of Service Section #}
                <div id="termsofService" class="collapse show" data-parent="#legal-accordion">
                    <div class="text-left">
                        {% include 'Web/pages_company/legal/'~ app.request.locale ~'/termsOfService.html.twig' %}
                    </div>
                </div>

                {# Privacy Policy Section #}
                <div id="privacyPolicy" class="collapse" data-parent="#legal-accordion">
                    <div class="text-left">
                        {% include 'Web/pages_company/legal/'~ app.request.locale ~'/privacyPolicy.html.twig' %}
                    </div>
                </div>

                {# Use Policy Section #}
                <div id="usePolicy" class="collapse" data-parent="#legal-accordion">
                    <div class="text-left">
                        {% include 'Web/pages_company/legal/'~ app.request.locale ~'/usePolicy.html.twig' %}
                    </div>
                </div>

                {# GPDR Policy Section #}
                <div id="gpdr" class="collapse" data-parent="#legal-accordion">
                    <div class="text-left">
                        {% include 'Web/pages_company/legal/'~ app.request.locale ~'/gpdrPolicy.html.twig' %}
                    </div>
                </div>

                {# Cookie Policy Section #}
                <div id="cookiePolicy" class="collapse" data-parent="#legal-accordion">
                    <div class="text-left">
                        {% include 'Web/pages_company/legal/'~ app.request.locale ~'/cookiePolicy.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
