{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_pricing.title'|trans }} - {{ parent() }}{% endblock %}
{% block head_description %}{{ 'page_pricing.description'|trans }}{% endblock %}
{% block head_keywords %}{{ 'page_pricing.tags'|trans }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}


{% block body %}
    <div class="d-flex align-items-center section-main">
        <div class="back-gradient"></div>
        <div class="container title">
            <h1>{{ 'page_pricing.section_main.title_header'|trans }}</h1>
            <p class="description">{{ 'page_pricing.section_main.title_description'|trans }}</p>
        </div>
    </div>

    <div class="section section-pricing">
        <div class="container">
            <div class="row row-grid pt-6 mt-6 delimiter-top">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <img src="{{ asset('static/element/unlimited.svg') }}" alt="Free Package" style="height: 90px">
                        <div class="icon-text pl-4 pr-2">
                            <h5 class="mb-2 font-weight-bold">{{ 'page_pricing.free_package'|trans }}</h5>
                            <p class="mb-0">{{ 'page_pricing.free_package_desc'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <img src="{{ asset('static/element/nocard.svg') }}" alt="No Credit Card" style="height: 90px">
                        <div class="icon-text pl-4 pr-2">
                            <h5 class="mb-2 font-weight-bold">{{ 'page_pricing.no_credit_card'|trans }}</h5>
                            <p class="mb-0">{{ 'page_pricing.no_credit_card_desc'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="d-flex align-items-center">
                        <img src="{{ asset('static/element/mark.svg') }}" alt="Instant Activation" style="height: 90px">
                        <div class="icon-text pl-4 pr-2">
                            <h5 class="mb-2 font-weight-bold">{{ 'page_pricing.activation'|trans }}</h5>
                            <p class="mb-0">{{ 'page_pricing.activation_desc'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-price section-color">
        <div class="price-container">
            <div class="d-flex justify-content-center align-items-center flex-wrap-reverse mb-5 pb-3">
                <label for="yearSwitch" class="mb-0 mr-4">{{ 'page_pricing.pay_month'|trans }}</label>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="yearSwitch" checked>
                    <label class="custom-control-label" for="yearSwitch">{{ 'page_pricing.pay_year'|trans }}</label>
                </div>
            </div>

            <div class="pricing card-groupd flex-column d-flex ">
                <div class="row">

                    {# Free Package #}
                    <div class="card card-pricing text-center free col-12 col-sm-6 col-lg-3">
                        <div class="card-header border-0 delimiter-bottom">
                            <span class="d-block h5 mb-4">{{ 'page_pricing.package_free_title'|trans }}</span>
                            <div class="h1 text-primary text-center mb-0">{{ 'page_pricing.package_free_title2'|trans }}</div>
                            <span class="h6 text-muted"></span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li>{{ 'page_pricing.package_customer_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_portfolio_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_contract_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_website_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_account_limit'|trans }}</li>
                                <li>{{ 'page_pricing.package_listing_count'|trans }}</li>
                                <li>{{ 'page_pricing.package_portfolio_count'|trans }}</li>
                                <li>{{ 'page_pricing.package_real_time'|trans }}</li>
                                <li>{{ 'page_pricing.package_free_website'|trans }}</li>
                                <li>
                                    <del class="text-danger">{{ 'page_pricing.package_ssl'|trans }}</del>
                                </li>
                                <li>
                                    <del class="text-danger">{{ 'page_pricing.package_support'|trans }}</del>
                                </li>
                            </ul>
                            <a href="{{ path('app_register') }}" class="btn btn-primary mb-3">{{ 'page_pricing.start_free_btn'|trans }}</a>
                        </div>
                    </div>

                    {# Individual Package #}
                    <div class="card card-pricing text-center col-12 col-sm-6 col-lg-3">
                        <div class="card-header border-0 delimiter-bottom">
                            <span class="d-block h5 mb-4">{{ 'page_pricing.package_standart_title'|trans }}</span>
                            <div class="h1 text-primary text-center mb-0"><span class="price" data-price="{{ pricing.standart }}">{{ pricing.yearly.standart }}</span>{{ pricing.type }}
                            </div>
                            <span class="h6 text-muted">{{ 'page_pricing.per_month'|trans }}</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li>{{ 'page_pricing.package_customer_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_portfolio_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_contract_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_website_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_account_limit'|trans }}</li>
                                <li>{{ 'page_pricing.package_listing_count'|trans({'20': '500'}) }}</li>
                                <li>{{ 'page_pricing.package_portfolio_count'|trans({'20': '500'}) }}</li>
                                <li>{{ 'page_pricing.package_real_time'|trans }}</li>
                                <li>{{ 'page_pricing.package_premium_website'|trans }}</li>
                                <li>{{ 'page_pricing.package_ssl'|trans }}</li>
                                <li>{{ 'page_pricing.package_support'|trans }}</li>
                            </ul>
                            <a href="{{ path('app_register') }}" class="btn btn-primary mb-3">{{ 'page_pricing.start_subscription_btn'|trans }}</a>
                        </div>
                    </div>

                    {# Business Package #}
                    <div class="card card-pricing rounded text-center col-12 col-sm-6 col-lg-3 popular">
                        <div class="card-header border-0 delimiter-bottom">
                            <span class="d-block h5 mb-4">{{ 'page_pricing.package_plus_title'|trans }}</span>
                            <div class="h1 text-primary text-center mb-0"><span class="price"
                                                                                data-price="{{ pricing.plus }}">{{ pricing.yearly.plus }}</span>{{ pricing.type }}
                            </div>
                            <span class="h6 text-muted">{{ 'page_pricing.per_month'|trans }}</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li>{{ 'page_pricing.package_customer_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_portfolio_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_contract_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_website_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_account_limit'|trans({'1': '5'}) }}</li>
                                <li>{{ 'page_pricing.package_listing_count'|trans({'20': '2500'}) }}</li>
                                <li>{{ 'page_pricing.package_portfolio_count'|trans({'20': '2500'}) }}</li>
                                <li>{{ 'page_pricing.package_real_time'|trans }}</li>
                                <li>{{ 'page_pricing.package_premium_website'|trans }}</li>
                                <li>{{ 'page_pricing.package_ssl'|trans }}</li>
                                <li>{{ 'page_pricing.package_support'|trans }}</li>
                            </ul>
                            <a href="{{ path('app_register') }}" class="btn btn-primary mb-3">{{ 'page_pricing.start_subscription_btn'|trans }}</a>
                        </div>
                    </div>

                    {# Franchise Package #}
                    <div class="card card-pricing text-center col-12 col-sm-6 col-lg-3 enterprise">
                        <div class="card-header border-0 delimiter-bottom">
                            <span class="d-block h5 mb-4">{{ 'page_pricing.package_enterprise_title'|trans }}</span>
                            <div class="h1 text-primary text-center mb-0"><span
                                    class="price">{{ 'page_pricing.get_offer_btn'|trans }}</span></div>
                            <span class="h6 text-muted"></span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li>{{ 'page_pricing.package_customer_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_portfolio_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_contract_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_website_management'|trans }}</li>
                                <li>{{ 'page_pricing.package_account_limit'|trans({'1': '5+'}) }}</li>
                                <li>{{ 'page_pricing.package_unlimited_listing'|trans }}</li>
                                <li>{{ 'page_pricing.package_unlimited_portfolio'|trans }}</li>
                                <li>{{ 'page_pricing.package_real_time'|trans }}</li>
                                <li>{{ 'page_pricing.package_premium_website'|trans }}</li>
                                <li>{{ 'page_pricing.package_ssl'|trans }}</li>
                                <li>{{ 'page_pricing.package_support'|trans }}</li>
                            </ul>
                            <a href="{{ path('company_contact') }}"
                               class="btn btn-primary mb-3">{{ 'page_pricing.get_offer_btn'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="section-title title mb-4 text-center">{{ 'page_pricing.sss'|trans }}</h2>
            <div id="accordion_sss" class="row justify-content-center">
                <div class="col-12 col-sm-9">
                    <div class="card mb-3">
                        <div class="card-header collapsed pointer d-flex" data-toggle="collapse" data-target="#collapse_1">{{ 'page_pricing.question_1'|trans }}
                            <span class="svg ml-auto">{{ source('@assets/static/element/angle-down.svg') }}</span>
                        </div>
                        <div id="collapse_1" class="collapse" data-parent="#accordion_sss">
                            <div class="card-body">{{ 'page_pricing.question_1_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-9">
                    <div class="card mb-3">
                        <div class="card-header collapsed pointer d-flex" data-toggle="collapse"
                             data-target="#collapse_2">{{ 'page_pricing.question_2'|trans }}
                            <span class="svg ml-auto">{{ source('@assets/static/element/angle-down.svg') }}</span>
                        </div>
                        <div id="collapse_2" class="collapse" data-parent="#accordion_sss">
                            <div class="card-body">{{ 'page_pricing.question_2_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-9">
                    <div class="card mb-3">
                        <div class="card-header collapsed pointer d-flex" data-toggle="collapse"
                             data-target="#collapse_3">{{ 'page_pricing.question_3'|trans }}
                            <span class="svg ml-auto">{{ source('@assets/static/element/angle-down.svg') }}</span>
                        </div>
                        <div id="collapse_3" class="collapse" data-parent="#accordion_sss">
                            <div class="card-body">{{ 'page_pricing.question_3_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-9">
                    <div class="card">
                        <div class="card-header collapsed pointer d-flex" data-toggle="collapse"
                             data-target="#collapse_4">{{ 'page_pricing.question_4'|trans }}
                            <span class="svg ml-auto">{{ source('@assets/static/element/angle-down.svg') }}</span>
                        </div>
                        <div id="collapse_4" class="collapse" data-parent="#accordion_sss">
                            <div class="card-body">{{ 'page_pricing.question_4_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        document.getElementById('yearSwitch').addEventListener('change', function (event) {
            document.querySelectorAll('.price').forEach(function (item) {
                var oldPrice = item.innerHTML;
                if (item.getAttribute('data-price') > 0) {
                    item.innerHTML = item.getAttribute('data-price');
                    item.setAttribute('data-price', oldPrice);
                }
            });
        })
    </script>
{% endblock %}
