{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_reference.title'|trans }} - {{ parent() }}{% endblock %}
{% block head_description %}{{ 'page_reference.description'|trans }}{% endblock %}
{% block head_keywords %}{{ 'page_crm.tags'|trans }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}


{% block body %}
    <div class="d-flex align-items-center section-main">
        <div class="back-gradient"></div>
        <div class="container title">
            <h1>{{ 'page_reference.section_main.title_header'|trans }}</h1>
            <p class="description">{{ 'page_reference.section_main.title_desc'|trans }}</p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="references">
                {% for item in items %}
                    <a href="{{ item.url }}" class="item" rel="nofollow" target="_blank"><img src="{{ asset(item.image, 'upload') }}" alt="{{ item.title }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section pt-3">
        <div class="container">
            <div class="bg-light p-4 p-sm-5 text-center text-md-left rounded d-md-flex align-items-center">
                <div class="mb-4 mb-md-0">
                    <h2 class="mb-2">{{ 'footer.are_you_ready'|trans }}</h2>
                    <h6 class="mb-0">{{ 'footer.are_you_ready_desc'|trans }}</h6>
                </div>
                <a class="btn btn-lg btn-primary ml-auto" href="{{ path('app_register') }}">{{ 'footer.create_account'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
