<head><script defer src="dist/vendor.js"></script><script defer src="dist/app.js"></script></head>{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_carrerr.title'|trans }} - {{ parent() }}{% endblock %}
{% block head_description %}{{ 'page_carrerr.description'|trans }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center section-main section-image">
        <div class="back-gradient"></div>
        <div class="container main-image"><span>{{ source('@assets/static/element/developer.svg') }}</span></div>
        <div class="container title">
            <h1>{{ 'page_carrerr.section_main.title_header'|trans }}</h1>
            <p class="description">{{ 'page_carrerr.section_main.title_description'|trans }}</p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="mb-5">{{ 'page_carrerr.section_office.title'|trans }}</h2>
            <p class="mb-0">{{ 'page_carrerr.section_office.content'|trans }}</p>
        </div>
    </div>

    <div class="section section-color-green">
        <div class="container">
            <h2 class="mb-5">{{ 'page_carrerr.section_carrers.title'|trans }}</h2>
            <table class="table table-hover table-cards mb-0">
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-warning text-white mr-4">BE</span>
                            <a href="#" class="h5 mb-0" data-toggle="modal" data-target="#backEnd">PHP\Symfony Back End Geliştirici</a>
                        </div>
                    </th>
                    <td class="date"><span class="h6">Tam Zamanlı</span></td>
                    <td><i class="fa fa-map-marker mr-3"></i><span class="h6">Osmaniye, TR</span></td>
                </tr>
                <tr class="divider"></tr>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-primary text-white mr-4">FE</span>
                            <a href="#" class="h5 mb-0" data-toggle="modal" data-target="#frontEnd">Front End Geliştirici</a>
                        </div>
                    </th>
                    <td class="date"><span class="h6">Tam Zamanlı</span></td>
                    <td><i class="fa fa-map-marker mr-3"></i><span class="h6">Osmaniye, TR</span></td>
                </tr>
                <tr class="divider"></tr>
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-info text-white mr-4">MH</span>
                            <a href="#" class="h5 mb-0" data-toggle="modal" data-target="#customer">Müşteri Hizmetleri Ekibi</a>
                        </div>
                    </th>
                    <td class="date"><span class="h6">Tam Zamanlı</span></td>
                    <td><i class="fa fa-map-marker mr-3"></i><span class="h6">Osmaniye, TR</span></td>
                </tr>
            </table>
        </div>
    </div>

    {# Modal backEnd #}
    <div class="modal fade" id="backEnd" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <p>EmlakPRO yazılım geliştirme ekibinin bir parçası olarak kendi alanlarında uzman arkadaşlar ile çalışacaksınız. İleriye dönük
                       Saas uygulama mimarileri geliştirmede rol alacak, website ve diğer otomasyon sistemleri için çalışacaksınız.</p>
                    <p>Kendine, yazdığı koda güvenen esnek mimariler geliştirebilecek arkadaşlar arıyoruz.</p>
                    <h6>Nitelikler</h6>
                    <ul class="list-bullet mb-0">
                        <li>İleri seviye nesne yönelimli programlama bilgisi</li>
                        <li>PHP ve Symfony ile uygulama geliştirmiş</li>
                        <li>PHP yazılım mimarileri ile çalışmış</li>
                        <li>Altyapı için Linux yönetim bilgisi</li>
                        <li>Git versiyon kontrol sistemi</li>
                        <li>Sorunlara yenilikçi çözümlerle yaklaşan</li>
                        <li>HTML, CSS, JavaScript ile deneyimli</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-success" href="mailto:{{ bag.get('contact_careers') }}">CV Gönder</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# Modal frontEnd #}
    <div class="modal fade" id="frontEnd" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <p>EmlakPRO yazılım geliştirme ekibinin bir parçası olarak kendi alanlarında uzman arkadaşlar ile çalışacaksınız. Uygulamalarımızın
                    web ve mobil arayüzünü geliştirmede rol alacaksınız.</p>
                    <p>Kendine, yazdığı koda güvenen esnek mimariler geliştirebilecek arkadaşlar arıyoruz.</p>
                    <h6>Nitelikler</h6>
                    <ul class="list-bullet mb-0">
                        <li>İleri seviye Javascript ES6\ES7 bilgisi</li>
                        <li>HTML5, CSS3, SVG konularında tecrübeli</li>
                        <li>Vue.JS konusunda bilgi sahibi ve öğrenmeye açık</li>
                        <li>jQuery, NodeJS, Yarn, Npm bilen</li>
                        <li>Git versiyon kontrol sistemi kullanmış olmak</li>
                        <li>Sorunlara yenilikçi çözümlerle yaklaşan</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-success" href="mailto:{{ bag.get('contact_careers') }}">CV Gönder</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# Modal customer #}
    <div class="modal fade" id="customer" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <p>EmlakPRO ürünleri için teknik destek sağlayabilecek giriş düzeyinde programlama yetkinliği olan, diksiyonu düzgün, dost canlısı ekip
                        arkadaşına ihtiyacımız vardır. Bazı ekip arkadaşlarımız vardiya sistemine göre değerlendirilmektedir.</p>
                    <ul class="mb-4">
                        <li>Müşteri destek taleplerinin karşılanması (Telefon, Mail, Destek Talebi)</li>
                        <li>Genel ve Özel sorunların tespitini sağlamak</li>
                        <li>Destek Programları için takip yapabilmek</li>
                    </ul>
                    <h6>Nitelikler</h6>
                    <ul class="list-bullet mb-0">
                        <li>Giriş seviye programlama bilgisi</li>
                        <li>Temel muhasebe bilgisi</li>
                        <li>Güçlü iletişim becerileri</li>
                        <li>Sürekli öğrenmeye açık</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-success" href="mailto:{{ bag.get('contact_careers') }}">CV Gönder</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="mb-5">{{ 'page_carrerr.section_company.title'|trans }}</h2>
            <ul class="list-unstyled mb-0">
                <li class="mb-4">
                    <h5 class="mb-3">{{ 'page_carrerr.section_company.excellet_approach'|trans }}</h5>
                    <div class="ml-4">{{ 'page_carrerr.section_company.excellet_approach_description'|trans }}</div>
                </li>
                <li class="mb-4">
                    <h5 class="mb-3">{{ 'page_carrerr.section_company.produce_develop'|trans }}</h5>
                    <div class="ml-4">{{ 'page_carrerr.section_company.produce_develop_description'|trans }}</div>
                </li>
                <li>
                    <h5 class="mb-3">{{ 'page_carrerr.section_company.trust_other'|trans }}</h5>
                    <div class="ml-4">{{ 'page_carrerr.section_company.trust_other_description'|trans }}</div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
