<head><script defer src="dist/vendor.js"></script><script defer src="dist/app.js"></script></head>{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'news_list.title'|trans }} - {{ parent() }}{% endblock %}
{% block head %}
    {% if app.request.get('_route') == 'company_news' %}
        {% include 'Web/other/googleLangTag.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center section-main">
        <div class="back-gradient"></div>
        <div class="container title">
            <h1>{{ 'news_list.section_main.title'|trans }}</h1>
            <div class="row search-block">
                <form action="#" class="col-sm-8 header-form">
                    <input class="form-control" type="text" name="search" id="search" placeholder="{{ 'page_faq.section_main.question_search'|trans }}">
                    <div class="form-text fs--5 mt-3">{{ 'news_list.section_main.description'|trans }}</div>
                </form>
            </div>
        </div>
    </div>

    <div class="section section-blog">
        <div class="container">
            <div class="row">
                {% for post in news %}
                    <div class="col-12 col-sm-6 col-md-4 mb-5">
                        <div class="post">
                            {% if post.image %}
                                <a class="main-image" href="{{ path('company_news_single', {'slug': post.slug}) }}">
                                    <img src="{{ asset(post.image, 'upload') }}" alt="{{ post.title }}">
                                </a>
                            {% endif %}
                            <div class="post-body">
                                <ul class="tags list-unstyled">
                                    {% for tag in post.tags %}
                                        <li><a class="badge badge-primary" href="{{ path('company_news_tag', {'tag': tag.name|url_encode}) }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                <a class="post-title" href="{{ path('company_news_single', {'slug': post.slug}) }}">{{ post.title }}</a>
                                <div>
                                    <span class="date text-muted">{{ post.releaseDate|timeDiff }}</span>
                                    <span class="text-muted fs--5">| {{ post.author.profile }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Pagination #}
            {% if not newer is same as(false) or not older is same as(false) %}
                <nav class="post-pagination border-top mt-5 pt-5">
                    <ul class="pagination pagination-lg mb-0">
                        {% if older %}
                            <li class="page-item"><a class="page-link" href="{{ path('company_news', {'page': older}) }}"><<</a></li>
                        {% endif %}
                        {% if not newer is same as(false) %}
                            <li class="page-item ml-auto"><a class="page-link" href="{{ path('company_news', {'page': newer}) }}">>></a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
