<head><script defer src="dist/vendor.js"></script><script defer src="dist/app.js"></script></head>{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_roadmap.title'|trans }} - {{ parent() }}{% endblock %}
{% block head_description %}{{ 'page_roadmap.description'|trans }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center section-main">
        <div class="back-gradient"></div>
        <div class="container main-image"><span>{{ source('@assets/static/element/rocket.svg') }}</span></div>
        <div class="container title">
            <h1>{{ 'page_roadmap.section_main.title_header'|trans }}</h1>
            <p class="description">{{ 'page_roadmap.section_main.title_description'|trans }}</p>
        </div>
    </div>

    <div class="section overflow-hidden pb-5">
        <div class="container position-relative">
            <div class="roadmap">
                <div class="item past">
                    <div class="title">{{ 'month.january'|trans }} 2013</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item1'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.march'|trans }} 2013</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item2'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.april'|trans }} 2013</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item3'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.march'|trans }} 2014</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item4'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.june'|trans }} 2014</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item5'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.january'|trans }} 2018</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item6'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.january'|trans }} 2019</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item7'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.may'|trans }} 2019</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item8'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.june'|trans }} 2019</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item9'|trans }}</div>
                </div>
                <div class="item past">
                    <div class="title">{{ 'month.august'|trans }} 2019</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item10'|trans }}</div>
                </div>
                <div class="item active">
                    <div class="title">{{ 'month.january'|trans }} 2020</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item11'|trans }}</div>
                </div>
                <div class="item">
                    <div class="title">{{ 'month.march'|trans }} 2020</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item12'|trans }}</div>
                </div>
                <div class="item">
                    <div class="title">{{ 'month.april'|trans }} 2020</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item13'|trans|raw }}</div>
                </div>
                {#<div class="item">
                    <div class="title">{{ 'month.march'|trans }} 2020</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item14'|trans }}</div>
                </div>
                <div class="item">
                    <div class="title">{{ 'month.may'|trans }} 2020</div>
                    <div class="marker"></div>
                    <div class="text">{{ 'page_roadmap.item15'|trans }}</div>
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
