<head><script defer src="dist/vendor.js"></script><script defer src="dist/app.js"></script></head>{% extends 'Web/base.html.twig' %}
{% trans_default_domain 'web' %}

{% block head_title %}{{ 'page_website.title'|trans }} - {{ parent() }}{% endblock %}
{% block head_description %}{{ 'page_website.description'|trans }}{% endblock %}
{% block head_keywords %}{{ 'page_website.tags'|trans }}{% endblock %}
{% block head %}{% include 'Web/other/googleLangTag.html.twig' %}{% endblock %}


{% block body %}
    <div class="d-flex align-items-center section-main section-image">
        <div class="back-gradient"></div>
        <div class="container main-image"><span>{{ source('@assets/static/element/www.svg') }}</span></div>
        <div class="container title">
            <h1>{{ 'page_website.section_main.title'|trans }}</h1>
            <p class="description">{{ 'page_website.section_main.title_desc'|trans }}</p>
            <a class="btn btn-primary mt-4" href="#themes">WEBSITE DEMO</a>
        </div>
    </div>

    <div class="section section-right-image">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pr-md-3 pr-lg-5">
                    <div class="badge badge-app mb-4">WEBSITE</div>
                    <h2 class="mb-5">{{ 'page_website.section_responsive.title'|trans|raw }}</h2>
                    <div class="description">
                        <ul class="icon-list">
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_responsive.item1'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_responsive.item2'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_responsive.item3'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_responsive.item4'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 card-img"><span>{{ source('@assets/static/element/mobilapp.svg') }}</span></div>
            </div>
        </div>
    </div>

    <div class="section section-right-image pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 card-img"><span class="float-md-right">{{ source('@assets/static/element/resume.svg') }}</span></div>
                <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0 pl-md-3 pl-lg-5 mt-5 mt-sm-0">
                    <div class="badge badge-app mb-4">{{ 'page_website.section_profile.header'|trans }}</div>
                    <h2 class="mb-5">{{ 'page_website.section_profile.title'|trans|raw }}</h2>
                    <div class="description mb-0">
                        <ul class="icon-list">
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_profile.item1'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_profile.item2'|trans }}</li>
                            <li><span class="icon">{{ source('@assets/static/element/check.svg') }}</span>{{ 'page_website.section_profile.item3'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-color section-infrastructure">
        <div class="container text-center">
            <div class="badge badge-app mb-4">{{ 'page_website.section_props.header'|trans }}</div>
            <h2 class="mb-5">{{ 'page_website.section_props.title'|trans }}</h2>

            <div class="features row">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/map.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item1'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item1_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mt-sm-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/monitoring.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item2'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item2_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mt-md-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/responsive.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item3'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item3_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features row mt-md-5 mt-4">
                <div class="col-md-4 col-sm-6 col-12 mt-md-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/cubes.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item4'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item4_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mt-sm-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/seo.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item5'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item5_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mt-sm-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/encrypt.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item6'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item6_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features row mt-md-5 mt-4">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/speedometer.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item7'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item7_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mt-sm-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/appointment.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item8'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item8_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mt-md-0 mt-4">
                    <div class="media">
                        <span class="mr-3">{{ source('@assets/static/element/diamond.svg') }}</span>
                        <div class="media-body">
                            <h5>{{ 'page_website.section_props.item9'|trans }}</h5>
                            <div class="media-text">{{ 'page_website.section_props.item9_desc'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="themes" class="section section-cloud">
        <div class="container text-center">
            <div id="themes" class="badge badge-app mb-4">WEBSITE DEMO</div>
            <h2 class="mb-5">{{ 'page_website.section_themes.title'|trans }}</h2>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card-os"><a href="https://demo.emlakpro.net" class="card-img" target="_blank"><img src="{{ asset('static/apps/theme-default.png') }}" alt="Theme Default"></a></div>
                    <h5 class="card-title">Default</h5>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card-os"><a href="https://ankara.emlakpro.net" class="card-img" target="_blank"><img src="{{ asset('static/apps/theme-ankara.png') }}" alt="Theme Ankara"></a></div>
                    <h5 class="card-title">Ankara</h5>
                </div>
                {#<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card-os"><a href="{{ path('app_demo', {'theme': 'newyork'}) }}" class="card-img" target="_blank"><img src="{{ asset('static/apps/theme-newyork.png') }}" alt="Theme NewYork"></a></div>
                    <h5 class="card-title">NewYork</h5>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card-os"><a href="{{ path('app_demo', {'theme': 'adana'}) }}" class="card-img" target="_blank"><img src="{{ asset('static/apps/theme-adana.png') }}" alt="Theme Adana"></a></div>
                    <h5 class="card-title">Adana</h5>
                </div>#}
            </div>
        </div>
    </div>

    <div class="section pt-0 ">
        <div class="container">
            <div class="bg-light p-4 p-sm-5 text-center text-md-left rounded d-md-flex align-items-center">
                <div class="mb-4 mb-md-0">
                    <h2 class="mb-2">{{ 'footer.are_you_ready'|trans }}</h2>
                    <h6 class="mb-0">{{ 'footer.are_you_ready_desc'|trans }}</h6>
                </div>
                <a class="btn btn-lg btn-primary ml-auto" href="{{ path('app_register') }}">{{ 'footer.create_account'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
