.roadmap {
  margin-left: -40px;

  .item {
    position: relative;
    padding-left: 40px;
    padding-bottom: 50px;

    &:after {
      content: '';
      position: absolute;
      bottom: -25px;
      left: 12.5px;
      width: 1px;
      height: 100%;
      border-left: 2px dashed $info
    }

    &:last-child:after {
      display: none
    }
  }

  .title {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
  }

  .text {
    font-size: $font-size-base - .1;
    color: $gray-700;
    text-align: center;
    font-weight: 400;
  }

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    border: 2px solid $info;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    background-color: #fff;
  }

  .active .marker {
    width: 30px;
    height: 30px;
    left: -2.5px;
    margin-top: -2px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $info;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
    }
  }

  .past .marker {
    border: 2px solid $primary;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $primary;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
    }
  }

  .past:after {
    width: 2px;
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fe5ab0), to($info));
    background-image: -webkit-linear-gradient(top, #fe5ab0 0, $info 100%);
    background-image: -o-linear-gradient(top, #fe5ab0 0, $info 100%);
    background-image: linear-gradient(to bottom, #fe5ab0 0, $info 100%)
  }
}

@include media-breakpoint-up(xs){
  .roadmap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .item {
      width: calc(100% - 15px);

      &:nth-child(1n):after {
        display: none;
      }

      &:after {
        width: 100%;
        border: none;
        border-top: 1px dashed #557ef8;
        top: 65px;
        right: -50%;
        height: 2px;
        margin-top: -1px;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%)
      }
    }


    .title {
      margin-bottom: 22px;
    }

    .marker {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto 80px;

      &:before {
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 1px;
        height: 60px;
        background-color: rgba(182, 183, 183, .5);
        margin-left: -1px;
      }
    }

    .past:after {
      top: 65px;
      background: $primary;
      border: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .roadmap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .item {
      width: calc(50% - 15px);

      &:nth-child(1n):after {
        display: block;
      }

      &:nth-child(2n):after {
        display: none;
      }

      &:after {
        width: 100%;
        border: none;
        border-top: 1px dashed #557ef8;
        top: 65px;
        right: -50%;
        height: 2px;
        margin-top: -1px;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%)
      }
    }


    .title {
      margin-bottom: 22px;
    }

    .marker {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto 80px;

      &:before {
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 1px;
        height: 60px;
        background-color: rgba(182, 183, 183, .5);
        margin-left: -1px;
      }
    }

    .past:after {
      top: 65px;
      background: $primary;
      border: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .roadmap {
    .item {
      width: calc(33% - 15px);

      &:nth-child(2n):after {
        display: block
      }

      &:nth-child(3n):after {
        display: none
      }

      &:last-child:after {
        display: none
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .roadmap {
    .item {
      width: calc(25% - 15px);

      &:nth-child(3n):after {
        display: block
      }

      &:nth-child(4n):after {
        display: none
      }

      &:last-child:after {
        display: none
      }
    }
  }
}
