<p><b>WriteLN Yazılım Hizmetleri Sanayi ve Ticaret Anonim Şirketi</b> (bundan böyle "WriteLN" olarak anılacaktır). Bu çerez politikası Web Sitesi
    ({{ app.request.host }}) için geçerlidir.</p>
<h3>1. Çerez Nedir?</h3>
<p>Çerezler, sitemizi ziyaret ettiğinizde bilgisayarınız ya da mobil cihazınıza (akıllı telefon veya tablet gibi) kaydedilen küçük metin dosyaları ya da bilgilerdir.
    Çerezler genellikle geldikleri internet sitelerinin ismini, "kullanım ömürlerini" (çerezin cihazınızda ne kadar süre kalacağı gibi), ve rastgele verilmiş bir sayıdan
    oluşan bir değer içerirler.</p>
<h3>2. Ne İçin Kullanıyoruz?</h3>
<p>Çerezleri, Sitelerimizin daha kolay kullanılması ve sizin ilgi ve ihtiyaçlarınıza göre ayarlanması için kullanıyoruz. İnternet siteleri bu çerez dosyaları okuyup
    yazabiliyorlar ve bu sayede tanınmanız ve size daha uygun bir internet sitesi sunulması amacıyla sizinle ilgili önemli bilgilerin hatırlanması sağlanıyor (tercih
    ayarlarınızın hatırlanması gibi). Çerezler ayrıca, Sitelerimiz üzerinde gelecekteki hareketlerinizin hızlanmasına da yardımcı olur. Bunlara ek olarak, ziyaretçilerin
    Sitelerimizi nasıl kullandığını anlamak ve Sitelerimizin tasarımını ve kullanışlılığını geliştirmek amacıyla çerezleri Sitelerimizin kullanımı hakkında istatistiksel
    bilgiler toplamak için de kullanabiliriz.</p>
<h3>3. Hangi Çerezleri Kullanıyoruz?</h3>
<p>
<ul class="mb-4">
    <li>Fonksiyonel çerezler - Web sitemizin düzgün bir şekilde çalışmasını sağlamak için bu çerezler gereklidir. Tercihleri kaydetmek, Web sitemizin ve hizmetlerimizin
        kötüye kullanılmasını saptamak, Web Sitemizi kullanılabilir halde tutan sunucularımızın yükünü dağıtmak için kullanılırlar. İstediğiniz bazı hizmetler bu çerezler
        olmadan sağlanamaz.
    </li>
    <li>Web istatistikleri çerezleri - Bu çerezler, Web sitemizin hangi bölümlerinin ziyaretçilere ilgi duyduğunu belirlemek için kullanılır. Bu, Web Sitemizin yapısını,
        navigasyonu ve içeriğini mümkün olduğunca kullanıcı dostu yapmamızı sağlar. Bu çerezler; web sayfalarımıza ziyaretçi sayısını takip etmek, her kullanıcının web
        sayfalarımızda harcadığı zaman miktarını takip etmek, ziyaretçinin web sitemizin çeşitli sayfalarını ziyaret ettiği sırayı belirlemek, Web sitesinin hangi
        bölümlerinin değiştirilmesinin gerektiğini değerlendirmek için kullanılır. Üçüncü tarafların yazılımı (Google Analytics) bu amaçlarla kullanılabilir. Google
        Analytics ’in kullanımıyla elde edilen bilgiler, ABD’deki bir Google sunucusuna iletilebilir ve saklanabilir. Web sitesinde etkinleştirilmiş IP adresi
        anonimleştirmesi nedeniyle Google, toplanmadan önce IP adresinizi maskeleyecektir.
    </li>
    <li>Sosyal medya çerezleri - Web sitemiz belirli üçüncü taraf eklentilerini (Facebook gibi “düğme” gibi) entegre edebilir. Bu eklentileri tıklatmasanız bile, sizin IP
        adresiniz ve görüntülediğiniz sayfalar gibi sizin hakkınızda bilgi toplayabilirler. Bu eklentiler, bunları sağlayan üçüncü tarafın gizlilik politikasına tabidir.
    </li>
    <li>Reklam çerezleri - Web Sitemiz, üçüncü taraf izleme mekanizmalarının zamana ve ilgiye dayalı reklamcılıkta kullanılmak üzere bağımsız web sitelerine ait verileri
        toplamasını da sağlayabilir. Örneğin, üçüncü taraflar, üçüncü taraf web sitelerinde WriteLN ürünleri için size çevrimiçi reklamlar göndermek için Web sitesini
        ziyaret ettiğiniz gerçeği kullanabilir. Buna ek olarak, üçüncü taraf reklam ortaklarımız size, genel olarak çevrimiçi davranışınıza dayalı olarak size hedeflenmiş
        reklamlar göndermek için sizinle ilgili bilgileri kullanabilir. Biz veya üçüncü taraf hizmet sağlayıcılarımız, hedefli reklam, analiz, ilişkilendirme ve raporlama
        amaçları için ilgili web tarayıcıları ve cihazlar (akıllı telefonlar, tabletler, bilgisayarlar ve TV'ler) arasında bağlantılar kurmak için toplanmış bilgileri
        kullanabilir. Bu üçüncü taraflar, aynı çevrimiçi hizmete birden çok cihazda giriş yaparsanız veya cihazlarınız aynı kişi veya aile tarafından kullanıldığını
        belirten benzer özellikleri paylaşıyorsa tarayıcılarınız veya cihazlarınızla eşleşebilir. Bu, Web sitesindeki etkinliğiniz veya mevcut tarayıcınız veya
        cihazınızdaki uygulamalarla ilgili bilgilerin diğer tarayıcılarınız veya cihazlarınızdan toplanan bilgilerle birleştirilebileceği anlamına gelir.
    </li>
    <li>Diğer çerezler - bu kategori, yukarıdaki çerez kategorilerinden birine uymayan çerezleri içerir. Bunun bir örneği, Google Etiket Yöneticisi aracılığıyla çeşitli
        çerezlerin paketlenmesidir.
    </li>
</ul>
<h3>4. Nasıl Engelleyebilirsiniz?</h3>
<table class="table table-s th-slim">
    <tr>
        <th>Adobe Analytics</th>
        <td><a href="http://www.adobe.com/tr/privacy/opt-out.html" target="_blank">http://www.adobe.com/tr/privacy/opt-out.html</a></td>
    </tr>
    <tr>
        <th>Google Adwords</th>
        <td><a href="https://support.google.com/ads/answer/2662922?hl=tr" target="_blank">https://support.google.com/ads/answer/2662922?hl=tr</a>
        </td>
    </tr>
    <tr>
        <th>Google Analytics</th>
        <td><a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a></td>
    </tr>
    <tr>
        <th>Google Chrome</th>
        <td><a href="https://support.google.com/chrome/answer/95647?hl=tr"
               target="_blank">https://support.google.com/chrome/answer/95647?hl=tr</a></td>
    </tr>
    <tr>
        <th>Internet Explorer</th>
        <td><a href="https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">
                https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies</a>
        </td>
    </tr>
    <tr>
        <th>Mozilla Firefox</th>
        <td><a href="https://support.mozilla.org/tr/kb/Çerez%20Yönetimi" target="_blank">https://support.mozilla.org/tr/kb/Çerez%20Yönetimi</a>
        </td>
    </tr>
    <tr>
        <th>Opera</th>
        <td><a href="http://www.opera.com/help/tutorials/security/privacy/"
               target="_blank">http://www.opera.com/help/tutorials/security/privacy/</a></td>
    </tr>
    <tr>
        <th>Safari</th>
        <td><a href="https://support.apple.com/kb/ph19214?locale=tr_TR" target="_blank">https://support.apple.com/kb/ph19214?locale=tr_TR</a></td>
    </tr>
</table>
