<p><b>WriteLN Yazılım Hizmetleri Sanayi ve Ticaret Anonim Şirketi</b> (bundan böyle "WriteLN" olarak anılacaktır). Bu GPDR bildirimi bu Web Sitesi
    ({{ app.request.host }}) için geçerlidir.</p>
<p>Yürürlükteki veri koruma kanununun amaçları doğrultusunda, WriteLN sitemizden Hizmetler aracılığıyla toplanan herhangi bir kişisel verinin veya
    başka bir şekilde müşterilerimizle ve tedarikçilerimizle işimizi yürütmek veya geliştirmek amacıyla denetleyicidir. Bu bildirimin amaçları
    doğrultusunda kişisel veriler, tanımlanmış veya tanımlanabilir bir kişiyle ilgili herhangi bir bilgi anlamına gelir.</p>
<h3>Ne Tür Bilgi Topluyoruz?</h3>
<p>Sitemizi ziyaret ettiğinizde veya hizmetlerimizi kullandığınızda, sunucumuz aşağıdakiler dahil ancak bunlarla sınırlı olmayan belirli tarayıcı veya cihaz tarafından
    oluşturulan bilgileri otomatik olarak toplar. Bu bilgiler sizi kimliğiniz ile tanımlamayan bilgilerdir ve gönüllü olarak verdiğiniz bilgilerden oluşmaktadır.</p>
<ul class="mb-4">
    <li>IP adresiniz</li>
    <li>Alan adınız</li>
    <li>Ziyaret tarihi ve süresi</li>
    <li>Tarayıcı bilgisi</li>
    <li>İşletim sistemi bilgisi</li>
    <li>Ziyaret ettiğiniz sayfalar</li>
    <li>Ziyaret ettiğiniz cihaz hakkında diğer bilgiler</li>
</ul>
<h3>Çerez Kullanımı</h3>
<p>Sitemiz çerezleri kullanıyor. Çerez kullanımımız hakkında daha fazla bilgiyi <a data-toggle="collapse" href="#cookiePolicy"><b>Çerez
            Politikası</b></a> sekmesinde bulabilirsiniz.</p>
<h3>Kişisel Verileri Kullanımı</h3>
<p>Burada kişisel verilerinizi kullanım amacımıza genel bir bakış yer almaktadır. Kişisel verilerinizi nasıl işlediğimize ilişkin ek ayrıntılar, size ayrı bir bildirimde
    veya sözleşmede sağlanabilir. Kişisel verilerinizin işlenmesi ve kullanımı, işleme için bir "koşul" ile doğrulanır ve sadece topladığımız kişisel verileri
    kullanmaktayız.</p>
<ul class="mb-4">
    <li>Muhasebe kayıtlarının tutulması gibi ilgili bir yasal zorunluluğa uymamız için gerekli işlemlerin yapılması</li>
    <li>Kişisel verilerin kullanımını işimizin yürütülmesini ve gelişmesini destekleyen amaçlarla sınırlıdır</li>
    <li>İşlem ile ilgili sizinle bir sözleşme yapmak veya talebinizle ilgili sözleşme imzalamak veya talep ettiğiniz ürün bilgilerini sağlamak için gerekli adımları
        atmanız gerekir
    </li>
    <li>Size abone olduğunuz veya başka bir şekilde talep ettiğiniz Hizmetler'i sağlamak</li>
    <li>Tedarikçilerimiz ve müşterilerimizle satın alma veya satış sözleşmelerini yönetmek</li>
    <li>Talep ettiğiniz dokümantasyonu veya iletişimi sağlamak</li>
    <li>Satış sonrası destek sağlamak</li>
    <li>Sitenin, WriteLN gizli ve özel bilgilerinin ve WriteLN çalışanlarının güvenliğini sağlamak ve korumak</li>
    <li>Siteyi içeren belirli işlemleri değerlendirmek ve tamamlamak için daha genel olarak WriteLN ürün ve hizmetlerini içeren işlemler</li>
    <li>Pazarlama çalışmalarımızı özelleştirmek veya sitemizin bir grup müşteri için kullanımını özelleştirmek amacıyla otomatik olarak toplanan kişisel olmayan verileri
        ve toplu bilgileri de kullanırız.
    </li>
    <li>WriteLN kişisel bilgilerinizi üçüncü taraflara satmayacak veya kiralamayacaktır</li>
    <li>Siteyi işletmek, değerlendirmek, sürdürmek, geliştirmek ve deneyimlerinizi izlenen ilgi alanlarına göre arttırmak, potansiyel yeni pazarları analiz etmek ve
        hedeflemek ve diğer pazarlama amaçları için
    </li>
    <li>Sözleşme şartlarımızın veya yasaların veya düzenlemelerin ihlali dahil ancak bunlarla sınırlı olmamak üzere dolandırıcılık, risk maruziyeti, hak talepleri ve
        diğer yükümlülükleri yönetme, koruma ve soruşturma
    </li>
    <li>Kişisel verilerinizi şirketimizin veya varlığımızın ya da herhangi bir bağlı şirketin potansiyel veya fiili satışı ile bağlantılı olarak üçüncü şahıslarla
        paylaşmak; bu durumda, bizim tarafımızdan tutulan kişisel veriler devredilen varlıklardan biri olabilir
    </li>
</ul>
<h3>Kişisel Verilerin İfşası</h3>
<p>Site ziyaretçileri, Hizmetlerimiz kullanıcıları veya tedarikçilerimiz veya müşterilerimiz hakkındaki kişisel bilgileri, tamamen kendi takdirimize bağlı olarak,
    aşağıdakileri de dahil olmak üzere makul bulduğuna inanıyoruz.</p>
<ul class="mb-4">
    <li>Bu tür veriler için herhangi bir yasa, yönetmelik veya resmi veya yasal talepleri karşılamak için;</li>
    <li>Kabul Edilebilir Kullanım Politikamızı veya diğer kullanıcı politikalarımızı ihlal eden birine karşı kimlik belirlemek, iletişime geçmek veya yasal işlem yapmak
        için gerekli olan kişisel verileri ifşa etmek;
    </li>
    <li>Kendimizi, abonelerimizi ve genel halkı korumak için. Bir suçun işlendiği, şüphelenildiği ya da yasal suçlu, medeni veya idari süreç tarafından zorla kabul
        ettirildiği takdirde, herhangi bir bilgiyi (kişisel veriler de dahil olmak üzere) kolluk kuvvetlerine ifşa etme hakkını özellikle saklı tutarız. Talepleri,
        mahkeme emirlerini, mahkeme emirlerini, yazılanları veya makul bir yetki sahibi olan veya bu süreci elde etmek için makul güce sahip olan makul talepleri.
    </li>
    <li>Yürürlükteki yasaların gerektirdiği ölçüde, son kullanıcılarımız hakkında bilgi almak isteyen kolluk kuvvetleri, özel hukuk davaları ve diğer kişilerle iş birliği
        yapmak. Bu tür iş birliği örnekleri arasında yasal, cezai, hukuki veya idari süreç, keşif talepleri, mahkeme emirleri, mahkeme emirleri, makamlar veya makamların
        makul talepleri veya bu süreci elde etmek için makul güce sahip kişiler bulunmaktadır.
    </li>
</ul>
<h3>Güvenlik</h3>
<p>Tüm hassas son kullanıcı bilgilerinin iletimini korumak için veri şifreleme dahil olmak üzere önlemler alırız. Ağımızın ve sistemlerimizin bütünlüğünü ve güvenliğini
    sağlamak için makul çabayı gösteriyoruz. Bununla birlikte, güvenlik önlemlerimizin üçüncü tarafların hacker'larının bu bilgileri yasadışı yoldan almasını
    engellediğini garanti edemeyiz. Bu tür güvenlik ihlallerini önlemek için tüm makul önlemleri alıyoruz, ancak siber suçluların becerikliliği göz önünde
    bulundurulduğunda, güvenliğimizin%100'ü ihlal etmediğini garanti edemiyoruz. Makul güvenlik önlemlerimize rağmen ortaya çıktıkları ölçüde bu tür ihlal riskini
    üstlenirsiniz.</p>
<h3>Dış bağlantılar</h3>
<p>Site üçüncü taraf sitelere bağlantılar içerebilir. WriteLN, bu Sitelerin gizlilik uygulamalarını kontrol etmediğinden ve bunlardan sorumlu olmadığından, bu üçüncü
    taraf sitelerin gizlilik politikalarını gözden geçirmenizi öneririz. Bu Bildirim, yalnızca Sitelerimiz tarafından toplanan veya iş faaliyetlerimiz sırasında toplanan
    kişisel veriler için geçerlidir.</p>
<h3>Silme Taleplerini İşleme</h3>
<p>Müşteriler, ürünlerimize yükledikleri bilgileri kaldırma veya silme olanağına sahiptir. Aynı şekilde, müşteriler hesaplarını devre dışı bırakabilir, topladığımız ve
    sakladığımız tüm kişisel verilerin silinmesini isteyebilir.</p>
