<p><b>WriteLN Yazılım Hizmetleri Sanayi ve Ticaret Anonim Şirketi</b> (bundan böyle "WriteLN" olarak anılacaktır). Bu Kullanım Politikası (AUP)
    Web Sitesi
    ({{ app.request.host }}) için geçerlidir.</p>
<p><b>Kabul Edilebilir Kullanım Politikası</b> ("<b>AUP</b>"), WriteLN ve bağlı kuruluşlar tarafından sunulan web hizmetlerinin
    WriteLN ağında izin verilmeyen veya yasaklanmış kullanımlarını açıklar. WriteLN olarak Website'de revize edilmiş bir versiyon yayınlayarak bu
    AUP'yi istediğimiz zaman değiştirebiliriz. Herhangi bir Hizmet'i kullanarak veya Web Sitemize erişerek, bu AUP'nin en son sürümünü kabul etmiş
    olursunuz. AUP'yi ihlal ederseniz yada başkalarının bunu yapmalarına izin verir yada yardım etmezseniz, Hizmet kullanımınızı askıya alabilir
    yada feshedebiliriz. Bu AUP, WriteLN ile Sözleşmenizde referans olarak dahil edilmiştir.</p>
<h3>Zararlı, Saldırgan, Yasadışı Kullanım veya İçerik Yasak</h3>
<p>Yasadışı, zararlı veya rahatsız edici herhangi bir kullanım için Hizmet veya İş Sitesi'ni kullanamaz, kolaylaştıramaz veya teşvik edemezsiniz veya yasa dışı, zararlı
    içerikler iletemez, saklayabilir, görüntüleyebilir, dağıtabilir veya başka bir şekilde kullanıma sunamazsınız veya saldırgan yasak faaliyetler içerir:</p>
<ul class="mb-4">
    <li>Yasa dışı aktivite reklamı yapmak, iletmek ya da kumar sitelerini ya da hizmetlerini sunmak ya da çocuk pornografisini yaymak, teşvik etmek ya da kolaylaştırmak
        ya da yasadışı olarak 18 yaşından küçük kişileri yasadışı bir şekilde istismar etmek dahil olmak üzere yasadışı faaliyetler.
    </li>
    <li>Sahte ürünler, hizmetler, planlar veya promosyonlar (örneğin, para kazanmak için hızlı planlar, ponzi ve piramit şemaları, phishing veya pharming) veya
        başkalarına zarar verme dahil olmak üzere, operasyonlarımıza veya itibarına zararlı olabilecek faaliyetler veya diğer aldatıcı uygulamalar.
    </li>
    <li>Fikri mülkiyet haklarını veya başkalarının mülkiyet haklarını ihlal eden ya da kötüye kullanan içerik. Rahatsız edici içerik. İftira niteliğinde, müstehcen, taciz
        edici, mahremiyete istinaden veya başka türlü sakıncalı içeriğe sahip içerikler, çocuk pornografisi oluşturan içerikler dahil olmak üzere, hayvanlarla cinsel
        ilişkiye girmemekte ya da rıza dışı cinsiyet eylemlerini göstermektedir.
    </li>
    <li>Virüsler, Truva atları, solucanlar, saatli bombalar veya iptal botları da dahil olmak üzere herhangi bir sisteme, programa veya verilere zarar verebilecek,
        müdahale edebilecek, bunlara müdahale edebilecek veya bunlara müsamaha gösterebilecek içerik veya diğer bilgisayar teknolojisi.
    </li>
    <li>Şiddet İçeriği. Aşırı derecede şiddet içeren, şiddet içeren, şiddeti tehdit eden, taciz edici içerik barındıran veya nefret söylemi içeren, herhangi bir içeriğin
        veya bağlantının yayınlanması, iletilmesi veya saklanması, bir kişinin güvenliği veya sağlığı veya kamu güvenliği veya sağlığı için bir risk yaratması, ulusal
        güvenliği tehlikeye sokması veya Kolluk kuvvetlerinin soruşturmasına müdahale eder.
    </li>
    <li>Herhangi bir yargı alanının tüketici koruma yasaları uyarınca haksız veya aldatıcı içerik.</li>
</ul>
<h3>E-Posta ve Mesajlaşma</h3>
<p>Ticari reklam ve bilgilendirme duyuruları dahil olmak üzere, istenmeyen toplu e-postaların veya diğer iletilerin, tanıtımların, reklamların veya isteklerin (SPAM vb.)
    gönderilmesini kolaylaştırmaz, dağıtamaz, yayınlayamaz veya gönderemezsiniz. Gönderenin açık izni olmadan posta üst bilgilerini değiştirmeyecek veya gizlemeyeceksiniz
    veya gönderenin kimliğini üstlenmeyeceksiniz. Başka bir internet servis sağlayıcısından gönderilen mesajlara, bu mesajlar AUP'yi veya söz konusu sağlayıcının kabul
    edilebilir kullanım politikasını ihlal ederse, cevapları toplayamazsınız.</p>
<h3>Fikri Mülkiyet Hakları</h3>
<p>Hizmetinizi telif hakkı, ticaret ya da hizmet markası, buluş ya da diğer fikri mülkiyet ya da mülkiyet bilgileriyle korunan herhangi bir işte üçüncü bir tarafın
    haklarını ihlal edecek ya da uygunsuz bir şekilde kullanamazsınız. Örnek:</p>
<ul class="mb-4">
    <li>Başkasına ait ticari markayı izinsiz gösteremezsiniz.</li>
    <li>Hizmeti, teknik telif hakkı korumalarını yenme konusunda başkalarına yardımcı olmayı amaçlayan içeriği yayınlamak için kullanamazsınız.</li>
    <li>Hizmetinizde telif hakkı yasasıyla korunan herhangi bir materyali indirmek, yayınlamak, torrent yapmak, dağıtmak, kullanmak veya başka bir şekilde kopyalamak için
        kullanamazsınız. Çalışmayı o şekilde kullanmak veya kopyalamak için izin almanız gerekir.
    </li>
    <li>Hizmetinizi başka bir kişinin ticari sırlarını yayınlamak veya gizlilik yükümlülüğü ihlalinde bilgileri yayınlamak için kullanamazsınız. Uygun koşullarda
        tekrarlayan ihlal eden müşterilerin hizmetlerini sona erdirmek WriteLN’nin politikasıdır.</li>
</ul>
<h3>Sonuç ve Raporlama</h3>
<p>AUP'yi ihlal ederseniz, hizmetinizi sözleşmeye uygun olarak askıya alabilir veya feshedebiliriz. Size ait olan herhangi bir içerik veya trafiği veya hizmet'in yasadışı
    olarak kullanıldığı veya bu AUP'ye uygun olarak kullanılmadığı kullanıcıları engelleyebilir veya engelleyebiliriz.</p>
<p>Bu AUP'nin ihlal edildiğini fark ederseniz, derhal bizi bilgilendirmeli ve ihlali durdurmak veya gidermek için talep edildiği şekilde bize
    yardım sunmalısınız. Bu AUP'nin ihlal edildiğini bildirmek için, lütfen {{ bag.get('contact_abuse_report') }} adresinden bize ulaşın.</p>
